@import url("datepicker.css");
/* FONTS */

@font-face {
    font-family: 'lg_smartregular';
    src: url('../fonts/lg_smart_regular-webfont.eot');
    src: url('../fonts/lg_smart_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lg_smart_regular-webfont.woff') format('woff'),
         url('../fonts/lg_smart_regular-webfont.ttf') format('truetype'),
         url('../fonts/lg_smart_regular-webfont.svg#lg_smartregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lg_smartlight';
    src: url('../fonts/lg_smart_light-webfont.eot');
    src: url('../fonts/lg_smart_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lg_smart_light-webfont.woff') format('woff'),
         url('../fonts/lg_smart_light-webfont.ttf') format('truetype'),
         url('../fonts/lg_smart_light-webfont.svg#lg_smartlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lg_smartbold';
    src: url('../fonts/lg_smart_bold-webfont.eot');
    src: url('../fonts/lg_smart_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lg_smart_bold-webfont.woff') format('woff'),
         url('../fonts/lg_smart_bold-webfont.ttf') format('truetype'),
         url('../fonts/lg_smart_bold-webfont.svg#lg_smartbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GLOBAL */

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family:'lg_smartregular', Helvetica, Arial, sans-serif;
}

a:focus {
	color:#fff;
	text-decoration: none !important;
	outline: none !important;
	outline-offset: 0 !important;
}

a:focus, a:active, 
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0 !important;
    outline : none !important;
}

.colorRed {
	color:#b70b51 !important;
}
.brdrTop {
	border-top:1px solid #ccc;
}
.brdrBottom {
	border-bottom:1px solid #ccc;
}
.ad {
	border-left:3px solid #ccc;
}

.trnstn {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.shdw {
	-moz-box-shadow: 0px 2px 2px #666;
	-webkit-box-shadow: 0px 2px 2px #666;
	box-shadow: 0px 2px 2px #666;
}
.questionMark {
	margin:4px 0 0 -20px;
	display:block;
	cursor: pointer;
}
.wdth50prcnt {
	width:50%;
}
.marginTop {
	margin-top:20px;
}
.bgGrey {
	background:#999;
	color:#fff;
	text-transform:uppercase;
	font-size:1.250em;
}

section {
	padding:20px 0;
}

/*HEADER*/
.logoBrand {
	padding:20px;
}
ul#social {
	float:right;
	padding: 50px 20px 0 0;
	list-style: none;
}
ul#social li span {
	color:#666;
	font-size:1.250em;
	margin: 0 10px 0 0;
}
ul#social li {
	margin: 0 0 -10px 0;
	padding: 0;
	display:inline-block;
}
ul#social li a.btSocial {
	color: #FFF;
	text-align: center;
	width: 30px;
	height: 30px;
	display:block;
	background: #999;
	padding: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	border-radius: 50%;
	font-size: 1.5em;
	line-height: 1.688em;
}
ul#social li a.btSocial.btFacebook:hover {
	background: #3b569d;
}
ul#social li a.btSocial.btTwitter:hover {
	background: #5eaade;
}
ul#social li a.btSocial.btYoutube:hover {
	background: #df2a21;
}

.receipt {
	dissplay:inline-block;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
	padding: 2px 2px 2px 10px;
	float:right;
	margin-right:15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


/* LOGIN */

#login {
	width:30%;
	background:rgba(255,255,255,0.8);
	position: absolute;
	right:10%;
	top:60%;
	border-left:5px solid #b70b51;
	padding:10px 20px;
}

/* CAROUSEL */

.carousel {
    margin:5px 0;
}
.carousel-control {
	width: 10%;
}
.carousel-indicators {
    bottom: 0;
}

/* FORMS */

legend {
	color:#b70b51;
	font-size:2em;
	line-height:1em;
	border-bottom:none;
	margin:0;
}

.form-group {
    margin-bottom: 5px;
}
input{
	width:100%;
}
input:focus, select:focus{
	border:1px solid #999 !important;
	-webkit-box-shadow:  0 0 5px rgba(0,0,0,0.3) !important; 
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3) !important; 
    box-shadow: 0 0 5px rgba(0,0,0,0.3) !important; 
}
input.checkTerms{
	width:20px;
}
.btnForm {
	font-size:1.5em;
	color:#FFF;
	background:rgba(183,11,81,0.8);
	padding:5px 20px 0 20px;
}
.btnFormSmall {
	display:inline-block;
	font-size:1.125em;
	color:#FFF;
	background:rgba(183,11,81,0.8);
	padding:7px 10px 2px 10px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.btnForm:hover, .btnFormSmall:hover, btnFormSmall:active, btnFormSmall.active{
	color:#FFF;
	background:rgba(183,11,81,1);
	text-decoration: none;
}

label {
	font-size:1.125em;
	font-weight:normal;
	text-align:left !important;
}
.formBox, .formBoxH {
	background-image: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
    background-repeat: repeat-x;
	background-color: #f5f5f5;
	padding: 20px 10px 15px;
	border-top:3px solid #ccc;
	margin-bottom:20px;
	-webkit-box-shadow:  0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.formBox {
		min-height:290px;
}
.panel-heading {
	border-top:3px solid #ccc;
	background:#eee;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}

.panel-group .panel {
	border:0;
    border-radius: 0;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 1px solid #eee;
}

.product td {
	vertical-align:middle !important;
	line-height:1em !important;
	padding:6px 0 4px 0 !important;
}
.product a {
	color:rgba(183,11,81,0.8);
	font-size:1.250em;
}
.product a:hover {
	color:rgba(183,11,81,1);
}

a.linkTerms {
	font-size:1em;
}
.product a.more{
	display:block;
	padding:5px 10px;
	font-size:0.875em;
	text-align:center;
	color:#fff;
	background:rgba(183,11,81,0.8);
	text-transform:uppercase;
	text-decoration:none;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.product a.more:hover{
	background:rgba(183,11,81,1);
}


/* FOOTER */

footer {
    padding:20px 0;
}
footer p{
	color:#666;
}
footer h4{
	margin:0;
	font-size:1.250em;
	color:#666;
	font-weight:normal;
}
footer a {
	font-size:1.250em;
	color:#666;
	text-decoration:none;
}
footer a:hover{
	color:#666;
	text-decoration:underline;
}
footer a.linkTerms {
	font-size:1em;
	color:#666;
	text-decoration: underline;
}
footer a.linkTerms:hover {
	color:#333;
}

/* MODAL */
.modal-content{
	-moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -khtml-border-radius: 0 !important;
    border-radius: 0 !important;
}
.modal-header, .modal-body, .modal-footer {
	border: none;
}
.modal-body h4 {
	color:#333;
	padding:0;
}
.modal-body p, .modal-body ul {
	color:#666;
}
.modal-body ul {
	padding:0 20px;
}
.modal-header {
	border-top:6px solid #ccc;
}
.modal-footer {
	text-align:center;
	border-bottom:3px solid #ccc;
}
.modal-title {
	color:#b70b51;
	line-height:1em;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding: 10px 0;
	margin-bottom:20px;
}
.imgPrize {
	margin-bottom:10px;
}
.prizeImg img {
	width:100%;
	height:auto;
}

/*TOOLTIP*/
.tooltip.in {
  filter: alpha(opacity=100);
  opacity: 1;
}
.tooltip-inner {
	max-width: none;
	padding: 5px;
	color: #666;
	text-align: center;
	text-decoration: none;
	background-color: #FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
	/*box-shadow: 0 1px 4px #AAAAAA; Drop shadow. N/A for IE 8 and below.*/
	-webkit-box-shadow:  0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.tooltip-arrow {
	display:none;
}

/* MEDIA QUERIES */
@media (max-width:991px){
	#login {
		width:40%;
		right:3%;
		top:50%;
	}
}
@media (max-width:768px){
	ul#social {
	padding: 50px 10px 0 0;
}
	#login {
		width:100%;
		position: static;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-top:5px solid #b70b51;
		border-left:0;
		padding-top:20px;
	}
	.carousel-indicators {
    	bottom: 42%;
	}
	.formBox {
		min-height:0;
	}
	.ad{
		border-left:none;
		border-top:3px solid #ccc;
		margin-top:30px;
	}



}

@media (max-width:480px){
	.carousel-indicators {
    	bottom: 52%;
	}
	.product td {
		font-size:0.875em;
	}
	.form-horizontal h3{
		font-size:1.5em;
	}
	legend {
	font-size:1.750em;
	line-height:1em;
}
}

@media (max-width:400px){
    ul#social {
        padding: 0 10px 0 0;
    }
}

@media (max-width:309px){
    .carousel-indicators{
        bottom: 55%;
    }
}

.date-suguest{
    color: #428bca;
    padding-left: 5px;
}

#checkHabeas {
    width:auto;
    margin-left: 4px;
    position: relative;
    top:2px;
}

#registerForm .col-lg-12 a:focus{
    color:#428bca;
}

#social li span a{
    color:#C2386E;
}

.clear-both{
    clear:both;
}

#contactForm label{
    text-align: right !important;
}

#productsWrapper{
    overflow-x:hidden;
    overflow-y:auto;
    height: 170px;
    padding: 0 10px 0 0;
}