@font-face {
    font-family: 'lg_smartregular';
    src: url('../fonts/lg_smart_regular-webfont.eot');
    src: url('../fonts/lg_smart_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lg_smart_regular-webfont.woff') format('woff'),
         url('../fonts/lg_smart_regular-webfont.ttf') format('truetype'),
         url('../fonts/lg_smart_regular-webfont.svg#lg_smartregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	/*max-height: 1118px;**/
	font-family: 'lg_smartregular', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	position: relative;
	background-color: #ebe7e6;
	background: #ebe7e6; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #fcfcfc 0%, #f1f1f1 57%, #ebe7e6 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcfcfc), color-stop(57%,#f1f1f1), color-stop(100%,#ebe7e6)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#f1f1f1 57%,#ebe7e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#f1f1f1 57%,#ebe7e6 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#f1f1f1 57%,#ebe7e6 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #fcfcfc 0%,#f1f1f1 57%,#ebe7e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebe7e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, label {
	font-family: 'lg_smartregular', Helvetica, Arial, sans-serif;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
	border-color: none;
	box-shadow: 0px;
	outline: 0 none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	display: block;
	background: none;
	border: 0;
	outline: 0;
}

.modal-backdrop {
	background-color: #FFFFFF;
}

.modal-content {
	border-radius: 0;
}

.modal-content .message {
	font-size: 18px;
	text-align: center;
}

.modal-header {
	border: 0;	
}

.modal-footer {
	border: 0;
}

.modal-footer button {
	margin: 0 auto;
}

.modal-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 26px;
}

.modal-body {	
	max-height: 300px;
	overflow: auto;
}

.close {
	opacity: 1;
	filter: alpha(opacity=100);
}

.popover {
	/*background-color: rgba(218, 168, 92, .7);*/
	width: 200px;
	color: #2F79AE;
	transform: rotate(-9.4deg);
	-ms-transform: rotate(-9.4deg);
	-webkit-transform: rotate(-9.4deg);
}

.popover .arrow:after {
	/*border-top-color: rgba(218, 168, 92, .7) !important;*/
}

.popover-title {
	/*background-color: rgba(218, 168, 92, .7);*/
	text-align: center;
	text-transform: uppercase;
	border: 0;
	color: #2F79AE !important;
}

.popover-content {
	text-align: center;
	color: #2F79AE;
}

.popover.right {
	margin-left: -20px;
}

.popover.left {
	margin-left: 10px;
}

header {
	width: 810px;
	position: absolute;
	top: 15px;
	left: 10px;
	z-index: 9999;
}

section {
	position: relative;
	width: 100%;
	height: 100%;
}

section > img {
	width: 100%;
}

section#like {
}

section#participate {
}

section#participate .participateButton {
	position: absolute;
	right: 70px;
	top: 596px;
}

section#form, section#thanks {
	width: 500px;
	margin: 0 auto;
}

section#form form {
}

section#form form h2, section#form form h3 {
	color: #941014;
	font-size: 17px;
	text-align: center;
	margin: 0;
}
section#form form h2 {
	font-weight: bold;
}

section#form form h3 {
	margin: 5px 0 0 0;
	font-size: 16px;
}

section#form form fieldset {
	position: absolute;
}

section#form form fieldset.mainFields {
	top: 78px;
	left: 20px;
	width: 316px;
}

section#form .facebookButton {
	display: block;	
	position: absolute;
	top: 336px;
	right: 88px;
}

section#form .facebookButton img {	
	width: 135px;
}

section#form form fieldset.mainFields .row-field {
	margin-bottom: 12px;
}

section#form form fieldset.mainFields .field {
	float: left;
}

section#form form fieldset.mainFields .field.name,
section#form form fieldset.mainFields .field.email {
	width: 168px;
}

section#form form fieldset.mainFields .field.name input,
section#form form fieldset.mainFields .field.email input {
	width: 144px;
}

section#form form fieldset.mainFields .field.cedula,
section#form form fieldset.mainFields .field.phone {
	width: 96px;
}

section#form form fieldset.mainFields .field.cedula input,
section#form form fieldset.mainFields .field.phone input {
	width: 78px;
}

section#form form fieldset.mainFields .field.birthdate {
	width: 196px;
}

section#form form fieldset.mainFields .field.country {
	width: 78px;
}

section#form form fieldset.mainFields .field.factura {
	width: 80px;
}

section#form form fieldset.mainFields .field.factura input {
	width: 60px;
}

section#form form fieldset.mainFields .field.monto {
	width: 80px;
}

section#form form fieldset.mainFields .field.monto input {
	width: 60px;
}

section#form form fieldset.mainFields .field.tienda {
	width: 150px;
}

section#form form fieldset.mainFields .field label {
	font-weight: normal;
	font-size: 15px;
	margin: 0;
	width: 100%;
}

section#form form fieldset.mainFields .field input {
	padding: 0;
	margin: 0;
	height: 20px;
	border: 1px solid #d3d4d2;
}

section#form form fieldset.otherFields {
	top: 409px;
	left: 18px;
	width: 152px;
}

section#form form fieldset.otherFields p {
	margin: 0;
	color: #000000;
}

section#form form fieldset.otherFields p.newsletterTitle {
	line-height: 16px;
	margin-bottom: 5px;
}

section#form form fieldset.otherFields p.termsTitle {
	font-size: 16px;
	margin-top: 10px;
}

section#form form fieldset.otherFields label {
	font-size: 12px;
	color: #000000;
	font-weight: normal;
}
	
section#form form fieldset.otherFields .newsletter {
	text-align: right;
	padding-right: 10px;
}

section#form form fieldset.otherFields .newsletter label {
	margin-right: 5px;
}

section#form form fieldset.otherFields .terms label {
	float: right;
	width: 134px;
}

section#form form fieldset.otherFields .terms input {
	float: left;
	margin-top: 2px;
}

section#form form fieldset.otherFields .terms a {
	color: #0F4B80;
}

section#form form fieldset.otherFields button {
	margin: 10px auto 0 auto;
}

section#form form #sending {
	display: none;
	text-align: center;
}

section#form form .support {
	position: absolute;
	bottom: 2px;
	background: #999999;
	width: 174px;
	border-radius: 10px;
	left: 7px;
	padding: 4px 6px;
	color: #000000;
	line-height: 16px;
}

section#form form .support p {
	font-size: 12px;
	margin: 0;
}

section#form form .support p a {
	color: #0F4B80;
}

section#form form fieldset input.error {
	border: 1px solid #d80546 !important;
}

section#form form fieldset input.fullInput {
	background: url('../images/field-back.png') no-repeat;	
	width: 100%;
	border: none;
	height: 38px;
	font-size: 12px;
	padding: 0 30px;
  	outline: none;
}

section#form form fieldset p {
	width: 100%;
	margin: 10px 0 0 0;
}

section#form form fieldset p.terms {
	margin-top: 10px;
}

section#form form fieldset p input{
	float: left;
	margin: 0 0 0 10px;
	width: 18px;
	height: 18px;
}

section#form form fieldset p label {
	float: left;
	margin: 0 0 0 9px;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	max-width: 250px;
}

section#form form fieldset p label a {
	color: #2F79AE;
	text-decoration: underline;
}

section#form form .actions{
	position: absolute;
	top: 580px;
	left: 90px;
}

section#form form .actions button {
	width: 264px;
	margin: 0;
}

section#form form .actions button img {
	width: 100%;
}

section#thanks {
	position: relative;
}

section#thanks .exitButton {
	position: absolute;
	width: 500px;
	height: 678px;
	top: 0;
	left: 0;
}

#footer {
	position: absolute;
	bottom: 35px;
	width: 810px;
}

#footer a {
	font-size: 13px;
	text-decoration: underline;
	color: #EDE83A;
}

#footer a.privacyButton {
	float: left;
	margin-left: 16px;
}

#footer a.rulesButton {
	float: right;
	margin-right: 60px;
}